## Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.ipch
*.tlog
*.log
*.recipe
*.db
*.opendb
*.VC.db
*.VC.VC.opendb
*.cmake
*.vcxproj
*.filters

*.com
*.class
*.dll
*.exe
*.o
*.so
*.out
*.app
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.tmp
*.temp
*.cache
*.vsidx
test_*.exe
*.test